.rbc-calendar {
    direction: rtl;
}

.rbc-event,
.rbc-header,
.rbc-day-slot .rbc-background-event {
    text-align: right !important;
}

/* Hide the original text (day) inside the button  */
.rbc-button-link {
    color: transparent;
}
/*hide Saturday */
.rbc-month-view .rbc-header:nth-child(7) {
    display: none;
}

.rbc-today {
    background-color: #B0926A !important;
}

.bgDate {
    background-color: #ECE3CE !important;
}